<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Add new comment to <%= recipe.name %></h1>
        <div style="width:30%; margin: 25px auto;">
            <form action="/recipes/<%= recipe.id %>/comments" method="POST">
                <div class="form-group">
                    <!---The "comment[text] format will nest .text in the comment element-->
                    <input class="form-control" type="text" name="comment[text]" placeholder="text">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/recipes">Go back to recipes</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>