<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1>This is the recipes page!</h1>
    </header>
</div>
<a href="/recipes/new">Enter new recipe</a>

<% recipes.forEach(function(recipe){ %>
    <div>
        <h4><%= recipe.name %></h4>
        <img src="<%= recipe.image %>">
    </div>
<% }); %>

<% include partials/footer %>