
/* --------------------------- ALL --------------------------- */
:root {
    --background-color: #CEDAD7;
    --second-color: #CEDAD7;
    --button-color: #B7B1B2;
    --text-color: #5B4C51;
    --small-text-color: #FFFEFD;
}

body {
    color: var(--text-color);
}

.jumbotron * {
    opacity:0;
    animation: 2s fadein forwards;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}
.navbar {
    background-color: var(--button-color);
}

.collapse li {
    background-color: var(--button-color);
}

#page-title {
    color: var(--text-color);
}

.navbar-default .navbar-nav>li>a {
    color: var(--text-color);
}

/* --------------------------- INDEX PAGE --------------------------- */
#full-content {
    padding-left: 20px;
}

.recipe-card .btn, .jumbotron .btn {
    color: var(--small-text-color);
    transition: transform 0.5s, background-color 0.5s;
}

.recipe-card .btn:hover, .jumbotron .btn:hover{
    /* color: var(--text-color); */
    background-color: var(--text-color);
    transform: scale(1.05);
}

.grid-wrapper {
    display:grid;
    grid-template-columns: 1fr 200px;
    /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
    /* grid-gap: 1rem; */
    display: flex;
    flex-direction: column;
}

.jumbotron {
    padding:20px;
    margin-right:20px;
    background-color: var(--background-color);
    border-radius: 4px;
    border: 1px solid var(--text-color);
}

.jumbotron a {
    background-color: var(--button-color);
    color: var(--small-text-color);
    border: 1px solid var(--text-color);
}

.tags button {
    background-color: var(--button-color);
    color: var(--small-text-color);
    height:30px;
    border: ;
}

.recipe-show input, select, button {
    height: 25px;
    border-radius: 4px;
    background-color: var(--background-color);
}

#textField {
    width: 200px;
}

#recipe-grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.thumbnail {
    padding: 0;
    text-align:center;
} 

.thumbnail .btn {
    background-color: var(--button-color);
    border: 1px solid var(--text-color);
}

.recipe-card {
    width: auto;
    max-width:225px;
    float: left;
    padding-right: 2%;
    margin-bottom: 2%;
    margin:10px;
    background-color: var(--second-color);
    border: 1px solid var(--text-color);
}

#recipe-img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    min-width: 200px;
    padding-top: 15px;
}

#link-list {
    padding-right: 30px;
    display:none;
}

#link-list li {
    background-color: var(--second-color);
    color: var(--text-color);
    border: 0.5px solid var(--text-color);
}

.invisible {
    display: none;
}

/* --------------------------- SHOW PAGE --------------------------- */

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    vertical-align: top;
}

.sidebar {
    /* height: 100%; Full-height: remove this if you want "auto" height */
    /* width: 200px; Set the width of the sidebar */
    /* position: fixed; Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    /* top: 0; Stay at the top */
    /* right: 0; */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
}

#ingredients-list {
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
    text-align:left;
}

#recipe-overview {
    display: flex;
}

.full-recipe {
    text-align: center;
}
.full-recipe img{
    object-fit:cover;
    width: 500px;
    height:500px;
}

.recipe-overview-cell {
    float: left;
    width: 33%;
    font-size: .9em;
    clear: none;
    padding: 5px;
    text-align: center;
    font-style: normal;
    letter-spacing: 1px;
    display: block;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.recipe-middle-cell {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#recipe-overview span {
    display: block;
}

.delete-form {
    display:inline;
}

/* --------------------------- MEDIA QUERIES --------------------------- */
@media (min-width: 768px) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 200px;
    }
    #link-list  { display: block; }
}

@media (min-width: 320px) and (max-width: 480px){
    #recipe-img {
        object-fit: cover;
        width: 120px;
        height: 120px;
        min-width: 120px;
        padding-top: 15px;
    }

    .recipe-card {
        width: auto;
        max-width:225px;
        float: left;
        padding-right: 0%;
        margin-bottom: 2%;
        margin-left:0px;;
    }

    #recipe-grid {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}