.invisible {
    display: none;
}

.grid-wrapper {
    display:grid;
    grid-template-columns: 1fr 200px;
    /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
    /* grid-gap: 1rem; */
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 200px;
    }
}

#recipe-grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.try-center {
    display: inline-block;
    float: none;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    vertical-align: top;
}

.sidebar {
    /* height: 100%; Full-height: remove this if you want "auto" height */
    /* width: 200px; Set the width of the sidebar */
    /* position: fixed; Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    /* top: 0; Stay at the top */
    /* right: 0; */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.thumbnail .caption {
    padding: 0px;
}

#full-content {
    padding-left: 20px;
}

.main-content {
    text-align: center;
}

.jumbotron {
    padding:20px;
    margin-right:20px;
}

.thumbnail {
    padding: 0;
    text-align:center;
}

#recipe-library .thumbnail {
    height: 300px;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display:inline;
}

#link-list {
    padding-right: 30px;
    display:none;
}

@media screen and (min-width: 768px) {
    #link-list  { display: block; }
}

#ingredients-list {
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
    text-align:left;
}

#recipe-overview {
    display: flex;
}

.recipe-card {
    width: auto;
    max-width:225px;
    float: left;
    padding-right: 2%;
    margin-bottom: 2%;
    margin:10px;;
}

#recipe-img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    min-width: 200px;
    padding-top: 15px;
}

#link-list a{
    color : black;
}

.full-recipe img{
    object-fit:cover;
    width: 500px;
    height:500px;
}

.recipe-overview-cell {
    float: left;
    width: 33%;
    font-size: .9em;
    clear: none;
    padding: 5px;
    text-align: center;
    font-style: normal;
    letter-spacing: 1px;
    display: block;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.recipe-middle-cell {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#recipe-overview span {
    display: block;
}