<% include ../partials/header %>

<div id="full-content">
    <div class="grid-wrapper">
        <div class="jumbotron">
            <h1>Aad & Manon's recipe library</h1>
            <p>Favorite recipes and new ones to experiment with !</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/recipes/new">Enter new recipe</a>
            </p>
        </div>
        <div class="sidebar col-centered">
            <div id="link-list">
                <p>Favorite recipe creators</p>
                <div class="list-group">
                    <a href="https://www.recipetineats.com/">
                        <li class="list-group-item">RecipeTin Eats</li>
                    </a>
                    <a href="https://minimalistbaker.com/">
                        <li class="list-group-item">Minimalist Baker</li>
                    </a>
                    <a href="http://www.mobkitchen.co.uk/">
                        <li class="list-group-item">Mob Kitchen</li>
                    </a>
                    <a href="https://www.wellplated.com/">
                        <li class="list-group-item">Well Plated</li>
                    </a>
                </div>
            </div>
        </div>
    </div>
        <div class="recipe-show">
            <!--Filters and buttons-->
            <div style="display: block;">
                <h3>Our favorite recipes</h3>
                <input id="textField"  type="text" name="filter" placeholder="Search recipes by ingredient">
                <select id="selectCategory">
                    <option value="">Category</option>
                    <option value="Starter">Starter</option>
                    <option value="Main">Main</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Side">Side</option>
                </select>  
                <button id="reset">Clear filters</button>
            </div>
            <div style="display: block;">
                <h5>Search by tag: </h3>
                <button id="tagHouseFavorite">House favorite</button>
                <button id="tagIndian">Indian</button>
                <button id="tagQuick">Quick and easy</button>
                <button id="tagSlowCooker">Slow cooker</button>
                <button id="tagVegetarian">Vegetarian</button>
            </div>
            <!-- Creates a card for each recipe in DB -->
            <div id="recipe-grid">
            <!-- Sorting all recipes by alphabetical order before displaying them-->
            <% recipes.sort((a, b) => (a.name > b.name) ? 1 : -1); %>
            <% recipes.forEach(function(recipe){ %>
            <div class="recipe-card thumbnail">
                    <a href="/recipes/<%= recipe._id %>"><img id="recipe-img" src="<%= recipe.image %>"></a>
                    <h4><%= recipe.name %></h4>
                    <p>
                        <a href="/recipes/<%= recipe._id %>" class="btn btn-primary">More details</a>
                    </p>
            </div>
            <% }); %>
        </div>
            
        </div>
    </div>
</div>

<script>
    // ------------------------------------------------//
    // ------------------ JAVASCRIPT ------------------//
    // ------------------------------------------------//

    //Assigning HTML elements and creating variables
    let resetButton = document.getElementById("reset");
    let houseFavorite = document.getElementById("tagHouseFavorite");
    let slowCooker = document.getElementById("tagSlowCooker");
    let indian = document.getElementById("tagIndian");
    let quick = document.getElementById("tagQuick");
    let vegetarian = document.getElementById("tagVegetarian");
    let recipeThumbnails = document.getElementsByClassName('recipe-card');
    let inputField = document.getElementById("textField");
    let categoryDropdown = document.getElementById("selectCategory");
    let recipes;
    let recipesFilter;
    let recipesFilteredNames = [];
    let targetProperty;
    
    //Extracting list of recipes from db et jsonifying it
    fetch('/recipes/raw')
        .then((response) =>{
            return response.json();
        })
        .then((myJson) => {
            //console.log(myJson);
            recipes = myJson;
        });

    //filters recipes based on ingredients search
    function filterEnLive(theInput){
        recipesFilter = recipes.filter(r => r.ingredients.toLowerCase().includes(theInput.target.value) > 0);
        // Adding recipes
        fillRecipesFilter(recipesFilter);
    }

    //filters by category
    function filterCat(selection){
        console.log(selection.target.value);
        recipesFilter = recipes.filter(r => r.category.includes(selection.target.value));
        fillRecipesFilter(recipesFilter);
    }

    //filters by tag
    function filterTag(selection){
        console.log(this.innerHTML);
        recipesFilter = recipes.filter(r => r.tags.includes(this.innerHTML));
        fillRecipesFilter(recipesFilter);
    }

        //hides cards based on newest filter
    function fillRecipesFilter(recipesFilter){
        reset();
        recipesFilteredNames = [];
        recipesFilter.forEach(recipe => {recipesFilteredNames.push(recipe.name);});
        for(var i = recipeThumbnails.length - 1; i >= 0; i--){
            if(recipesFilteredNames.indexOf(recipeThumbnails[i].childNodes[3].textContent.toString()) === -1){
                recipeThumbnails[i].classList.add("invisible");
            };
        };
    }

    function reset(){
        console.log("coucou");
        for(var i = recipeThumbnails.length - 1; i >= 0; i--){
            recipeThumbnails[i].classList.remove("invisible");;
        };
    };

    // Adding all event listeners
    houseFavorite.addEventListener("click", filterTag);

    indian.addEventListener("click", filterTag);

    quick.addEventListener("click", filterTag);

    slowCooker.addEventListener("click", filterTag);

    vegetarian.addEventListener("click", filterTag);

    inputField.addEventListener("input", filterEnLive);

    categoryDropdown.addEventListener("change", filterCat);

    resetButton.addEventListener("click", reset);
    resetButton.addEventListener("click", function(){
        //Resetting the input field and dropdown menu
        inputField.value = "";
        categoryDropdown.value="Category";
    });


</script>

<% include ../partials/footer %>